django==4.0.4
django-crispy-forms==1.14.0
xhtml2pdf==0.2.7
Pillow==9.1.0
django-import-export==2.8.0
psycopg2-binary==2.9.3
django_filter==21.1
django-bootstrap-form==3.4
django-widget-tweaks==1.4.12
django-bstrap-modals==2.4.0
reportlab==3.6.9
django-encrypted-model-fields==0.6.5
django-cors-headers==3.11.0
django-csp==3.7