{% extends "base.html" %}

{% load static %}
{% load humanize %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container">
    <div class="row justify-content-md-center my-4" style="color: #15375CFF;">
        <div class="col col-sm text-left font-italic" style="font-size: smaller;">
            <p>Inicio > Aplicación > Detalle</p>
        </div>
    </div>
</div>

<div class="container">
    <div class="row justify-content-betweencontainer-sm my-4" style="background-color:white;">

        <div class="container">
            <div class="row">
                <div class="col col-lg my-4 offset-sm-1">
                    <h4>Aplicación</h4>
                </div>
            </div>
        </div>

        <div class="col col-lg my-4">
            <div class="container">
                <div class="card mb-3">
                    <div class="card-body">
                        {% for label, value in application %}
                        <div class="row">
                            <div class="col-sm-4"><h6 class="mb-0">{{ label }}</h6></div>
                            <div class="col-sm-8 text-secondary"> {{ value }}</div>
                        </div>
                        <hr>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
