{% extends "base.html" %}

{% load static %}

{% block content %}

    <div class="container">
        <div class="row justify-content-md-center mt-4" style="background-color:white;">
            <div class="col col-lg m-4">
                <h4>Solicitud de beca o apoyo económico</h4>
                <form id="application-form" method="post" data-url="{% url 'create-application-form' pk %}">
                    {% csrf_token %}
                    {{ application_form_template|safe }}
                    <button class="btn btn-primary" type="submit">Enviar solicitud</button>
                </form>
            </div>
        </div>
    </div>

    {% csrf_token %}
    <script src="{% static 'assets/js/other/formToJSON.js' %}"></script>
    <script src="{% static 'assets/js/other/addRow.js' %}"></script>

{% endblock %}
