{% extends "base.html" %}

{% block content %}

    <div class="container">
        <div class="row justify-content-md-center mt-4" style="background-color:white;">
            <div class="col col-lg">
                <h5>Acciones pendientes</h5>
                {% include "pending_actions.html" %}
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row justify-content-md-center mt-4" style="background-color:white;">
            <div class="col col-lg">
                <h5>Aplicaciones</h5>
                {% include "applications.html" %}
            </div>
        </div>
    </div>

{% endblock %}
