{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}

        <div class="container">
        <div class="row justify-content-center my-4" style="background-color:white;">
            <h2>Restablece tu contraseña</h2>

        </div>
    </div>

        <div class="container">
        <div class="row justify-content-center mt-4" style="background-color:white;">

          {% if validlink %}
            <form method="post">
              {{ form|crispy }}
              {% csrf_token %}
                <button type="submit" class="btn btn-primary mb-4">Cambiar mi contraseña</button>
            </form>

          {% else %}
            <p>El link para restablecer tu contraseña es inválido, es posible que ya haya sido usado. Solicita uno nuevo.</p>
          {% endif %}
        </div>
    </div>






{% endblock %}
