{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block content %}

    <div class="container">
        <div class="row justify-content-md-center mt-4" style="background-color:white;">
            <div class="col col-lg">
                <h2>Resultado final</h2><br>
                <p><strong>Programa: </strong>{{ programa }}</p>
                <p><strong>CURP: </strong>{{ curp }}</p>
                <p><strong>Folio: </strong>{{ folio }}</p><br>
            </div>
        </div>
    </div>


    <div class="container">
        <div class="row justify-content-md-center" style="background-color:white;">
            <div class="col col-lg">

                <form method="POST" action="" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% crispy form %}
                </form>

            </div>
        </div>
    </div>


{% endblock %}
