{% extends "base.html" %}
{% load crispy_forms_filters %}

{% load crispy_forms_tags %}
{% load widget_tweaks %}
{% load static %}
{% load humanize %}

{% block content %}

    <div class="container">
        <div class="row justify-content-md-center my-4">
            <div class="col col-sm text-left font-italic" style="font-size: smaller;">
                <p>Inicio > Staff > Resultados y seguimiento </p>
            </div>
        </div>
    </div>


        <div class="container">
        <div class="row justify-content-md-center my-4" style="background-color:white;">
            <div class="col">
                <form method="get">
                    <div class="form-row">
                        <div class="form-group col-sm-2 mb-0">
                            {{ filter.form.program|add_class:"form-control form-control-sm"|as_crispy_field }}
                        </div>
                        <div class="form-group col-sm-2.5 mb-0">
                            {{ filter.form.username__username__icontains|add_class:"form-control form-control-sm"|as_crispy_field }}
                        </div>
                        <div class="form-group col-sm-2.5 mb-0">
                            {{ filter.form.deliverable_validated|add_class:"form-control form-control-sm"|as_crispy_field }}
                        </div>
                        <div class="form-group col-sm-2 mb-0">
                            {{ filter.form.award_delivered|add_class:"form-control form-control-sm"|as_crispy_field }}
                        </div>
                        <div class="form-group col-sm-2 mb-0">
                            {{ filter.form.decision|add_class:"form-control form-control-sm"|as_crispy_field }}
                        </div>
                        <div class="form-group col-sm-0.5 align-self-center text-right mb-0">
                            <button type="submit" class="btn btn-primary btn-sm">Filtrar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>





    <div class="container">
        <div class="row justify-content-betweencontainer-sm my-4" style="background-color:white;">
            <div class="col col-lg my-4">
                <table class="table table-light small">
                    <div class="table-responsive">
                        <table class="table align-middle table-striped small" style="text-align:center">
                            <tr>
                                <th>Programa</th>
                                <th>CURP</th>
                                <th>Decisión</th>
                                <th>Monto</th>
                                <th>Estatus</th>
                                <th></th>
                                <th></th>
                            </tr>
                            {% for award in object_list %}
                                <tr>
                                    <td>{{ award.program.title|title }}</td>
                                    <td>{{ award.username|upper }}</td>
                                    <td>{{ award.get_decision_display }}</td>
                                    <td>{{ award.awarded|intcomma }}</td>
                                    <td>{{ award.id.get_current_stage_display }}</td>
                                    <td>
                                        <a type="button" class="btn btn-outline-secondary btn-sm"
                                           href="{% url 'staff-application-review' award.id.id %}">
                                             <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eyeglasses" viewBox="0 0 16 16">
                                              <path d="M4 6a2 2 0 1 1 0 4 2 2 0 0 1 0-4zm2.625.547a3 3 0 0 0-5.584.953H.5a.5.5 0 0 0 0 1h.541A3 3 0 0 0 7 8a1 1 0 0 1 2 0 3 3 0 0 0 5.959.5h.541a.5.5 0 0 0 0-1h-.541a3 3 0 0 0-5.584-.953A1.993 1.993 0 0 0 8 6c-.532 0-1.016.208-1.375.547zM14 8a2 2 0 1 1-4 0 2 2 0 0 1 4 0z"/>
                                            </svg>
                                            Ver aplicación
                                        </a>
                                    </td>
                                    {% if not award.award_delivered %}
                                    <td>
                                        <button hx-get="{% url 'staff-deliver-award' award.id.id %}" hx-target="#withdraw" class="btn btn-outline-secondary btn-sm">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                                              <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                                            </svg>
                                            Entregar apoyo
                                        </button>
                                    </td>
                                        {% elif award.require_deliverable and award.deliverable and not award.deliverable_validated %}
                                    <td>
                                        <button hx-get="{% url 'staff-validate-deliverable' award.id.id %}" hx-target="#withdraw" class="btn btn-outline-secondary btn-sm">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                                              <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                                            </svg>
                                            Validar entregables
                                        </button>
                                    </td>
                                {% endif %}
                                </tr>
                            {% empty %}
                                <td>
                                    No hay registros.
                                </td>
                            {% endfor %}
                        </table>


                        <div class="pagination justify-content-center" style="border-bottom: #0b2e13">
                        <span class="step-links">
                            {% if page_obj.has_previous %}
                                <a class="previous round" href="?page=1">&laquo;</a>
                                <a class="previous round" href="?page={{ page_obj.previous_page_number }}">&#8249;</a>
                            {% endif %}

                            <span class="current">
                                Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}
                            </span>

                            {% if page_obj.has_next %}
                                <a class="next round" href="?page={{ page_obj.next_page_number }}">&#8250;</a>
                                <a class="next round" href="?page={{ page_obj.paginator.num_pages }}">&raquo;</a>
                            {% endif %}
                        </span>
                        </div>
                    </div>
                </table>

            </div>
        </div>
    </div>

    <div id="modal-withdraw" class="modal fade">
        <div id="withdraw" class="modal-dialog" hx-target="this"></div>
    </div>

    <script src="{% static 'assets/js/other/modals.js' %}"></script>


{% endblock %}

