{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">

    <script src="{% static 'assets/js/jquery.min.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/js/popper.min.js' %}"></script>

    <title>Fomento a Talentos: Plataforma de solicitud de apoyos</title>

    <link href="{% static 'assets/css/sticky-footer.css' %}" rel="stylesheet">

</head>
<body style="background-color:whitesmoke;">
<main role="main">
    <div style="background-color:whitesmoke;">
        <nav class="navbar navbar-expand-lg navbar-dark" style="background-color:#15375C;">
            <a class="navbar-brand" href={% url "home" %}>
                <img src="{% static "images/logo1.png" %}" width=auto height="45" class="d-inline-block align-top"
                     alt="">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
                    aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                {% if request.user.is_authenticated %}
                    <a class="navbar-brand text-white">
                        {% if request.user.student.pic.url %}
                            <span><img src="{{ request.user.student.pic.url }}" alt="" class="rounded-circle" width="40"
                                       height="40"></span>
                        {% else %}
                            <span><img src="{% static "images/default.jpg" %}" alt="" class="rounded-circle" width="40"
                                       height="40"></span>
                        {% endif %}
                    </a>
                {% endif %}
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0 ">
                    {% if request.user.is_authenticated %}
                        <li class="nav-item">
                            {% if request.user.is_staff %}
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url "home" %}">Inicio</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url "staff-dashboard" %}">Dashboard</a>
                                </li>
                            {% else %}
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url "home" %}">Inicio</a>
                                </li>
                                <li class="nav-item dropdown">
                                     <a class="nav-link" href="{% url "profile-detail" %}">Perfil</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url "applicant-dashboard" %}">Dashboard</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url "programs-list" %}">Programas</a>
                                </li>
                            {% endif %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url "logout" %}">Cerrar sesión</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url "login" %}">Iniciar sesión</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url "user_registration" %}">Crear cuenta</a>
                        </li>
                    {% endif %}
                </ul>
                <a class="navbar-brand text-white">
                    Plataforma de solicitud de apoyos
                </a>
            </div>
        </nav>
    </div>

    {% block content %}
    {% endblock %}

</main>
<!-- Footer -->
<footer class="footer" style="background-color:#15375C;">
        <span class="text-muted">
        <h2 class="m-0 text-center" style="color:whitesmoke;">Contacto</h2>
        <p class="m-0 text-center" style="color:whitesmoke;">
            Av. San Miguel esquina con Av. Aguascalientes (Museo Descubre)
            <br>Fracc. Jardines del Parque, C.P. 20270
            <br>Aguascalientes, Aguascalientes
            <br>Dra. Vanessa Campos Ibarra
            <br>Tel: (449) 978 0338, ext. 7137
            <br>vanessa.campos@aguascalientes.gob.mx
        </span>
</footer>
</body>
</html>
