{% load static %}

{% block content %}

    <div class="table-responsive">
    <table class="table table-hover align-middle" style="text-align:center;background-color: white">
        <thead style="white-space: nowrap;background-color: #083B58FF;color: white">
            <th>Folio</th>
            <th>Programa</th>
            <th>Estatus</th>
            <th>Resultado</th>
            <th></th>
        </thead>
        <tbody style="font-size:.875em;">
            {% for application in applications %}
                <tr>
                    <td>{{ application.folio }}</td>
                    <td>{{ application.program.title }}</td>
                    <td>{{ application.get_current_stage_display }}</td>
                    {% if application.current_stage != 0 %}
                        <td>{{ application.decision.get_decision_display }}</td>
                        <td><a class="alert-link" href="{% url 'application-detail' application.id %}">Ver detalle</a></td>
                    {% elif application.current_stage == 0 %}
                        <td></td>
                        <td><a class="alert-link" href="{% url 'render-application-form' application.id %}">Completar aplicación</a></td>
                    {% else %}
                        <td></td>
                        <td></td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% if not applications %}
        <p>No tienes aplicaciones registradas</p>
    {% endif %}
    </div>

{% endblock %}
