{% extends "base.html" %}

{% block content %}

    <div class="container">
        <div class="row justify-content-md-center mt-4" >
            <div class="col col-lg" style="text-align:center;">
                <h5>Tareas pendientes</h5>
                {% include "pending_actions.html" %}
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row justify-content-md-center mt-4">
            <div class="col col-lg" style="text-align:center;">
                <h5>Aplicaciones</h5>
                {% include "applications.html" %}
            </div>
        </div>
    </div>

{% endblock %}
