{% load static %}

{% block content %}

    <div class="table-responsive">
    <table class="table table-hover align-middle" style="text-align:center;background-color: white">
        <thead style="white-space: nowrap;background-color: #083B58FF;color: white">
            <th>Tarea</th>
            <th>Instrucciones</th>
            <th>Fecha límite</th>
            <th></th>
        </thead>
        <tbody style="font-size:.875em;">
            {% for action in actions %}
                <tr>
                    <td>{{ action.task.message }}</td>
                    <td>{{ action.task.instructions }}</td>
                    {% if action.task.has_deadline == True %}
                        <td>{{ action.deadline }}</td>
                    {% else %}
                        <td></td>
                    {%  endif %}
                    {% if action.task.has_redirect_url == True and action.task.type == 0 %}
                        <td style="vertical-align:middle;">
                            <a class="btn btn-outline-secondary btn-sm" href="{% firstof action.redirect_url_overwrite action.task.redirect_url %}">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                                  <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                                </svg>
                                Completar acción
                            </a>
                        </td>
                    {% elif action.task.has_redirect_url == True and action.task.type == 1 %}
                        <td style="vertical-align:middle;">
                            <button hx-get="{% firstof action.redirect_url_overwrite action.task.redirect_url %}" hx-target="#withdraw" class="btn btn-outline-secondary btn-sm">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                                  <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                                </svg>
                                Completar acción
                            </button>
                        </td>
                    {% else %}
                        <td style="vertical-align:middle;">
                            <a href="" class="btn btn-outline-warning mb-4 btn-sm">Contacta al IDSCEA</a>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% if not actions %}
        <p>No tienes tareas pendientes</p>
    {% endif %}
    </div>

{% endblock %}
