{% load static %}

{% block content %}

    <div class="table-responsive">
    <table class="table table-hover align-middle">
        <thead>
            <th>Tarea</th>
            <th>Instrucciones</th>
            <th>Fecha límite</th>
            <th></th>
        </thead>
        <tbody>
            {% for action in actions %}
                <tr>
                    <td>{{ action.task.message }}</td>
                    <td>{{ action.task.instructions }}</td>
                    <td>{{ action.deadline }}</td>
                    {% if action.task.has_redirect_url == True %}
                        <td><a class="alert-link" href="{{ action.task.redirect_url }}">Completar acción</a></td>
                    {% else %}
                        <td>Contacta al IDSCEA</td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>

{% endblock %}
