{% load static %}

{% block content %}

        {% for application in sent_applications %}
            <tr>
                <td>{{ application.program.title }}</td>
                <td>{{ application.folio }}</td>
                <td>{{ application.get_current_stage_display }}</td>
                {% if application.application_form == None %}
                    <td>
                    <a class="btn btn-light">Solicitud</a>
                    </td>
                {% else %}
                    <a class="btn btn-light">Solicitud</a>
                {% endif %}
            </tr>
        {% endfor %}

{% endblock %}
