{% extends "base.html" %}

{% load static %}

{% block content %}


    <div class="container">
        <div class="row justify-content-md-center my-4" style="color: #083B58FFFF;">
            <div class="col col-sm text-left font-italic" style="font-size: smaller;">
                <p>Inicio > Staff > Dashboard</p>
            </div>
        </div>
    </div>

        <div class="container">
        <div class="row justify-content-md-center mt-4">
            <div class="col col-lg" style="text-align:center;">
                <h5>Tareas pendientes</h5>

                <a href={% url 'staff-applications-list' %}>Gestionar aplicaciones</a><br>
                <a href={% url 'staff-pending-tasks-list' %}>Tareas pendientes</a><br>
                <a href={% url 'staff-awards-list' %}>Entrega de apoyos/becas y seguimiento</a>

            </div>
        </div>
    </div>

{% endblock %}
